$primary: #3a0303;

.container {
    padding: 20px;
    
    h3 {
        margin-bottom: 20px; // Reducir el margen inferior para más separación
        color: rgb(65, 1, 1); // Color rojo oscuro
    }
    
    button[mat-raised-button] {
        margin-bottom: 20px;
        float: right; // Flota el botón a la derecha
        color: white;
        background-color: #7b1f1f; // Rojo vino
        border-color: #4b0e0e; // Borde más oscuro
        
        &:hover {
            background-color: #4b0e0e; // Rojo vino más oscuro al pasar el ratón
        }
    }
    
    ngx-datatable {
        width: 100%;
        margin-top: 20px;
        
        .datatable-header {
            background-color: #410202; // Rojo vino oscuro
            color: white;
            font-weight: bold;
            padding: 10px;
        }
        
        .datatable-body {
            tr {
                &:nth-child(even) {
                    background-color: #5a1a1a; // Rojo vino claro
                }
                
                &:nth-child(odd) {
                    background-color: #6b1e1e; // Rojo vino medio
                }
                
                &:hover {
                    background-color: #7b1f1f; // Rojo vino más oscuro
                }
                
                td {
                    padding: 10px;
                    text-align: left;
                    vertical-align: middle;
                    border: 1px solid #490202; // Borde rojo vino oscuro
                    color: white;
                }
            }
        }
        
        .datatable-footer {
            background-color: #410202; // Rojo vino oscuro
            color: white;
            padding: 10px;
            text-align: center;
        }
        
        .datatable-pager {
            .pager-button {
                background-color: #7b1f1f; // Rojo vino
                color: white;
                border: none;
                border-radius: 4px;
                padding: 5px 10px;
                margin: 0 5px;
                
                &:hover {
                    background-color: #4b0e0e; // Rojo vino más oscuro
                }
                
                &.active {
                    background-color: #4b0e0e; // Rojo vino más oscuro
                    font-weight: bold;
                }
            }
        }
    }
    
    mat-card {
        background-color: white; // Fondo blanco para la tarjeta
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
        
        .mat-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            
            h3 {
                margin: 0;
                color: rgb(65, 1, 1); // Color rojo oscuro
            }
            
            button[mat-raised-button] {
                color: white;
                background-color: #7b1f1f; // Rojo vino
            }
        }
        
        .mat-card-content {
            padding: 0;
        }
    }
    
    mat-dialog-container {
        .mat-dialog-title {
            display: flex;
            align-items: center;
            background-color: #410202; // Rojo vino oscuro
            color: white;
            padding: 16px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            
            mat-icon {
                margin-right: 10px;
            }
            
            .mat-dialog-title-close {
                margin-left: auto;
                color: white;
                opacity: 1;
                cursor: pointer;
                
                &:hover {
                    color: #f0e68c; // Color dorado claro al pasar el ratón
                }
            }
        }
        
        .mat-dialog-content {
            padding: 16px;
            background-color: #f8f9fa; // Fondo claro
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            
            mat-form-field {
                width: 100%;
                margin-bottom: 100px;
                
                &.mobile-field,
                &.address-field {
                    margin-top: 120px; // Más espacio para los campos mobile y address
                }
                
                .mat-form-field-label {
                    color: #800020; // Rojo vino
                }
                
                .mat-input-element {
                    color: #343a40; // Texto oscuro
                }
                
                .mat-form-field-underline {
                    background-color: #800020; // Rojo vino
                }
            }
        }
        
        .mat-dialog-actions {
            display: flex;
            justify-content: flex-end;
            padding: 8px 16px;
            background-color: #f8f9fa; // Fondo claro
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            
            button {
                margin-right: 10px;
                color: white;
                background-color: #800020; // Rojo vino
                border: none;
                border-radius: 4px;
                padding: 8px 16px;
                font-weight: bold;
                
                &:hover {
                    background-color: #4b0e0e; // Rojo vino más oscuro al pasar el ratón
                }
                
                &.btn-primary {
                    background-color: #5c0606;
                    border-color: #007bff;
                }
                
                &.btn-default {
                    background-color: #f8f9fa;
                    border-color: #ced4da;
                    color: #343a40; // Texto oscuro
                }
            }
        }
    }
}

.row {
    margin-bottom: 16px;
}

mat-card {
    &.rounded-0 {
        border-radius: 0;
    }

    &.shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    mat-card-header {
        background-color: #f5f5f5;
        padding: 16px;

        .row {
            display: flex;
            align-items: center;

            .col-lg-10,
            .col-md-10,
            .col-sm-8,
            .col-xs-6 {
                display: flex;
                align-items: center;
            }

            .col-lg-2,
            .col-md-2,
            .col-sm-4,
            .col-xs-6 {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    mat-card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: rgb(66, 2, 2);
    }

    mat-card-content {
        padding: 16px;

        .row {
            margin-bottom: 16px;
        }

        .table-responsive {
            overflow-x: auto;

            table {
                width: 100%;
                border-collapse: collapse;

                th,
                td {
                    padding: 8px;
                    text-align: left;
                    border: 1px solid #490202;
                    color: white;
                }

                th {
                    background-color: #410202;
                    font-weight: bold;
                }

                tr {
                    &:nth-child(even) {
                        background-color: #f9f9f9;
                    }

                    &:hover {
                        background-color: #f1f1f1;
                    }
                }
            }
        }
    }
}

.button-container {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}

button[mat-raised-button] {
    margin: 8px 0;
    background-color: #7b1f1f;
    color: white;
}

mat-icon {
    vertical-align: middle;
    margin-right: 4px;
}

.mat-elevation-z8 {
    margin-bottom: 16px;
    background-color: #410202;
    color: white;
}

table {
    width: 100%;

    th.mat-header-cell {
        background-color: #410202;
        color: white;
        text-align: left;
    }

    td.mat-cell {
        padding: 8px;
        background-color: #410202;
        color: white;
    }

    tr.mat-header-row {
        height: 56px;
        background-color: #410202;
        color: white;
    }

    tr.mat-row {
        height: 48px;
        background-color: #410202;
        color: white;
    }
}

.input-group {
    display: flex;
    align-items: center;

    mat-form-field {
        flex: 1;
        color: white;
    }

    mat-select {
        margin-left: 8px;
        background-color: #410202;
        color: rgb(219, 214, 214);
    }
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;

    button {
        margin-left: 8px;
        background-color: #410202;
        color: white;
    }
}

th,
td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #490202;
    color: white;
}