<div class="container">
    <app-menus></app-menus>
    <mat-card>
        <div class="mat-card-header">
        <h3>Lista de Categorías</h3>
        <button mat-raised-button color="primary" (click)="openCategoryDialog()">Añadir Categoría</button>
        </div>
        <div class="mat-card-content">
        <ngx-datatable
        class="bootstrap"
        [rows]="categories"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'">
        </ngx-datatable>
        </div>
    </mat-card>
    
    <!-- Modal -->
    <ng-template #categoryDialog let-dialogRef>
    <h4 mat-dialog-title><mat-icon>add</mat-icon> Añadir Categoría</h4>
    <form #categoryForm="ngForm" (ngSubmit)="addCategory(categoryForm.value)">
        <mat-form-field appearance="fill">
        <mat-label>Nombre de Categoría</mat-label>
        <input matInput type="text" name="name" id="name" required ngModel />
        </mat-form-field>
        <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <mat-select name="status" id="status" required ngModel>
        <mat-option value="active">Active</mat-option>
        <mat-option value="inactive">Inactive</mat-option>
        </mat-select>
        </mat-form-field>
        <div mat-dialog-actions>
        <button mat-button type="submit" color="primary">Add</button>
        <button mat-button type="button" (click)="dialogRef.close()">Close</button>
        </div>
        </form>
    </ng-template>

    <!-- Action Template -->
  <ng-template #actionTemplate let-row="row">
    <button mat-icon-button color="primary" (click)="updateCategory(row)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="deleteCategory(row.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
</div>
   
    