<mat-dialog-content>
    <form (ngSubmit)="addSupplier(supplierForm.value)" #supplierForm="ngForm">
    <mat-form-field appearance="fill">
    <mat-label>Supplier Name</mat-label>
    <input matInput type="text" name="name" required ngModel>
    </mat-form-field>
    <mat-form-field appearance="fill">
    <mat-label>Mobile</mat-label>
    <input matInput type="text" name="mobile" required ngModel>
    </mat-form-field>
    <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <textarea matInput name="address" rows="5" required ngModel></textarea>
    </mat-form-field>
    <div mat-dialog-actions>
    <button mat-button type="submit">Add</button>
    <button mat-button mat-dialog-close>Close</button>
    </div>
    </form>
    </mat-dialog-content>
