<div class="container">
    <app-menus></app-menus>
    <mat-card>
        <div class="mat-card-header">
    <h3>Lista de Marcas</h3>
    <button mat-raised-button color="primary" (click)="openAddBrandModal()">Añadir Marca</button>
    </div>
    <div class="mat-card-content">
    <ngx-datatable
    class="bootstrap"
    [rows]="brands"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'">
    </ngx-datatable>
    
    </div>
    